#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Council Elder
    name= _ "Council Elder"
    race=Brungar
    image=
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=Sea_Dwarf_Foot
    movement=5
    experience=78
    level=2Harpoon
    alignment=neutral
    advances_to=High Council Member
    cost=35
    usage=mixed_fighter
    description= _ "The rank of Council Elder is the next step up from a simple Council Member, as they now hold jurisdiction over their former peers."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [attack]
        name=Trident
        description=_"Trident"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=Trident
        description=_"Trident"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=10
        number=2
    [/attack]
[/unit_type]
