#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Herbicider
    name= _ "Herbicider"
    race=Brungar
    gender=male
    image="units/Brungar/Herbicider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=2
    alignment=neutral
    experience=78
    advances_to=Toxin Specialist
    {AMLA_DEFAULT}
    hitpoints=40
    movement=5
    movement_type=Sea_Dwarf_Foot
    cost=35
    usage=mixed_fighter
    description= _ "Some of the followers of Medicine find that they have very little interest in learning how heal the wounded, instead prefering to concoct poisons in order to inflict various maladies on their enemies."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}

    [attack]
        name=Toxic Spear
        description=_"Toxic Spear"
        icon="attacks/spear.png"
        type=pierce
        range=melee
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=6
        number=2
    [/attack]

    [attack]
        name=Poison Spray
        description=_"Poison Spray"
        icon="attacks/ink.png"
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=7
        number=3
    [/attack]
[/unit_type]
